.weather {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2px;
   
}


.prognoz .text_up{
    text-align: center;
    background-color: rgba(32, 151, 151, 0.774);
    width: 150px;
    color: aliceblue;
    font-size: 20px;
}
.weather .prognoz .pogoda {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    }

.prognoz .text_down{
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 30px;
    margin: 2px;
}
.prognoz:hover{
    width: 150px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    height: 160px;
  
   }