* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
 .promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 38px 0 60px 0;
}
.container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.title { 
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}

.title_big { 
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

h1 {
    margin-top: 52px;
}
h2 {
    margin-top: 20px;
}
.promo .promo_text{
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
    margin-top: 22px;
}
.promo .promo_text span{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #f9bf3b;
}
.promo .promo_btn, 
.gift .gift_btn{
    display: block;
    margin: 72px auto;
    width: 100%;
    max-width: 312px;
    height: 72px;
    background: linear-gradient(0deg, #2798b9, #3ab6da 100%);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    font-family: 'Roboto Condensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -1px -1px 0px  rgba(0,0,0,0.22);
    cursor: pointer;
}
.more .more_text {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}
.title_big::before { 
    content: '';
    display: inline-block;
    width: 292px;
    height: 2px;
    background: #ffffff;
    vertical-align: middle;
    margin: 0 18px 16px 0;
}
.title_big::after { 
    content: '';
    display: inline-block;
    width: 292px;
    height: 2px;
    background: #ffffff;
    vertical-align: middle;
    margin: 0 0 16px 18px;
}
.waiting {
min-height: 606px;
background: #EFEFEF center center/cover;
padding: 84px 0 74px 0;
}
.waiting .waiting_header, 
.finish .finish_header {
color: #252525;
font-size: 30px;
text-transform: uppercase;
text-align: center;
}
.waiting .waiting_divider,
.finish .finish_divider {
width: 220px;
height: 8px;
left: 360px;
background-color: #f9bf3b;
margin: 0 auto;
margin-top: 18px;
}
.waiting .waiting_subheader{
margin-top: 18px;
color: #4a4a4a;
font-size: 23px;
text-align: center;
}
.waiting .waiting_wrapper{
display: flex;
justify-content: space-between;
margin-top: 44px;
}
.waiting .waiting_wrapper .waiting_item {
width: 342px;
text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 32px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
.optimization {
    min-height: 548px;
    padding: 108px 0 74px 0;
}
.optimization .optimization_header{
    margin-left: 390px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299cbd;
}
.optimization .optimization_text{
    margin-top: 24px;
    margin-left: 390px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}
.optimization .optimization_text span {
    font-weight: 700;
}
.optimization .optimization_img {
    position: absolute;
    top: -60px;
    left: -240px;
    z-index: -1;
}
.finish {
    min-height: 450px;
    padding: 86px 0 68px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}
.finish .finish_header {
    color: #efefef;
}
.finish .finish_wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
    width: 234px;
}
.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 118px;
    width: 100%;
    height: 100%;
    background-color: #b4e2ff;
    border-radius: 100%;
}
.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 24px;
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}
.gift {
    min-height: 630px;
    /* т.к. у кнопки margin 72px, а padding 88px в figma */
    padding: 84px 0 16px 0;
    background-color: #efefef;
} 
.gift .gift_img {
    display: block;
    margin: 0 auto;
}
.gift .gift_text {
    margin-top: 42px;
    color: #252525;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
}
.gift .gift_btn {
    margin-top: 50px;
    border: none;
    text-transform: uppercase;
}
.first {
    min-height: 512px;
    padding: 88px 0 52px 0;
  }
  .first .first_img {
    display: block;
    margin: 0 auto;
  }
  .first .first_text {
    margin-top: 36px;
    color: #252525;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .first .date {
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
  }
  .first .first_subtitle {
    margin-top: 24px;
    color: #4a4a4a;
    font-size: 23px;
    text-align: center;
  }
  footer {
    min-height: 168px;
    background-color: #1a1a1a;
    padding: 56px 0 68px 0;
  }
  .info {
    margin: 0 auto;
    max-width: 406px; 
    width: 100%;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
  }
  footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
  }
  .underlined {
    text-decoration: underline;
  }
  
  
  

      

  


  
  
  
  
  
    
  
  


  